body {
  background-color: #a6e3e9;
}
.divelement {
  display: inline;
}

#headings {
  display: inline;
  color: #07464a !important;
}

.headings {
  color: #24aab1 !important;
}

.anchor-heading {
  color: #24aab1;
  text-decoration: none;
}

.ul-padding {
  padding-inline-start: 50px;
}

.square-ul {
  list-style-type: square;
}

.circle-ul {
  list-style-type: circle;
}
