.main-nav {
  &__list {
    display: flex;
    list-style: none;
    padding-inline-start: .625rem;
    &--item {
      margin: .5rem 1rem 0 0;
      height: 2rem;
      padding: .25rem;
      text-align: center;
      &-link {
        color: #1fab89;
        text-decoration: none;
        &:visited {
          color: #1fab89;
        }
      }
    }
  }
}
