.container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border: 2px solid black;
    margin: 1rem
}

.user-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.profile-card {
    background-color: #a6e3e9;
    font-size: 1rem;
    width: 16rem;
    margin: 10px 10px;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
}

.profile-card h1 {
    font-size: 80%;
}
/* .user-info {
    position: sticky;
} */

.user-info .profile-card {
    background-color: #ff8474;
} 